body {
    font-size: 2em;
    font-family: monospace;
}

.highlighted {
    color: red;
}

.lines {
    stroke: black;
    stroke-width: 10;
}

.lines path {
    stroke: aqua;
    stroke-linejoin: round;
}
